/* For banner style */
.banner {
    display: flex;
    margin: 0px 210px 210px 210px;
    text-align: right;

}

.header {
    background-image: url('images/banner/banner2.png');
    position: absolute;
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
}


.banner-title {
    position: absolute;
    width: 500px;
    height: 228px;
    left: 845px;
    top: 150px;
    font-weight: 700px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 142, 119);



}

.banner-description {
    position: absolute;
    width: 454px;
    height: 78px;
    left: 876px;
    top: 397px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 26px;
    color: rgb(84, 98, 98)
}

/* For button styles */
.btn-pri {
    padding: 15px 28px;
    font-size: 27px;
    background-color: coral;
    border: 0px;
    color: rgb(223, 232, 229);
    border-radius: 7px;
    margin-top: 680px;
    margin-left: 930px;

}

main {
    margin-top: 1000px;
    background-image: url('images/person.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 800px;


}

main h1,
p {
    margin-top: 30px;

}


.section-sub-title {

    width: 450px;
    margin-left: 830px;
    color: rgb(112, 100, 85);
    font-weight: 10;
}

.section {

    margin-left: 830px;
    margin-top: 300px;
    width: 450px;
    color: rgb(93, 118, 118);


}

.similar {
    margin-left: 830px;

}

.styles {
    margin-top: 38px;
    font-weight: 700;
    font-size: 23px;


}



.Head {
    font-weight: 120px;
    margin-left: 700px;
    margin-top: 120px;
    font-size: 40px;
    margin-bottom: 100px;
}

.Collect {
    display: flex;
    margin-left: 300px;


}

.skill3 {
    margin-left: 140px;
    margin-right: 180px;



}

.skill4 {
    margin-left: 140px;
    margin-right: 180px;

}

.Modern {
    margin-bottom: 40px;
    color: darkcyan;
}

.btn-prim {
    padding: 15px 28px;
    font-size: 27px;
    background-color: rgb(12, 158, 143);
    border: 0px;
    color: rgb(255, 253, 253);
    border-radius: 7px;
    margin-left: 500px;
   
}

/* Gredian button */
.btn {
    margin-left: 150px;
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 222px;
    border-radius: 8px;
    /* margin-top: 100px; */
    padding: 1px;
    background-image: url('images/gradient2.png');


}

.best {
    font-size: 50px;
    font-weight: 40px;
    text-align: center;
    margin-top: 100px;
    color: rgb(114, 148, 163);

}

.Headof {
    background-color: black;
    padding: 90px 0px;
    margin-top: 80px;
    border-radius: 10px;

}
.Headof a{
    text-decoration: none;
}

.contact-title {
               color: rgb(182, 189, 189);
               height: 40px;
               font-size: 30px;
               
}

.contact-sub-title {
    color: rgb(181, 175, 187);
    /* padding: 130px 300px; */
    
}

.contact-su {
           color: rgb(186, 183, 189);
}
.co{
    color: rgb(151, 137, 137);

}
/* Flex it */
.Flex{
    margin-left: 1100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;

}

/* box button */
.Button{
    color: blanchedalmond;
    
}
.btnpri{
    color: rgb(240, 237, 236);
    margin-top: 20px;
    background-color: coral;
    border-radius: 10px;
    padding: 16px 20px;

}
.only-form{
    border-radius: 0px;
    padding: 15px 17px;
}